<div class="card group group-horizontal @ContainerClasses" @attributes="@AllOtherAttributes">
    
    @if (Header is not null)
    {
        <div class="card-header">
            @Header
        </div>
    }
    
    @if (Body is not null)
    {
        <div class="card-body d-flex flex-row layout layout-horizontal">
            @Body
        </div>
    }
    
</div>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }
    
    [Parameter]
    public RenderFragment? Body { get; set; }

    [Parameter] public string ContainerClasses { get; set; } = string.Empty;
    [Parameter] public string BodyClasses { get; set; } = string.Empty;
    [Parameter] public string HeadClasses { get; set; } = string.Empty;
    
    
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AllOtherAttributes { get; set; }
}