<p>Dear {{Project.Applicant.Fullname}},</p> 

<p>we are happy to inform you that the extension of your project <b>{{Project.Title}}</b> was accepted by the service provider. 
    Find more information about the evaluation in the attachments.</p>

<p>The new project has been assigned an <b>identifier {{Project.Id}}</b> and will <b>expire on {{date_standard Project.DtExpiration}}.</b> <br/>
    In case the project is not finished by then, you will be automatically offered further extension of the project. </p> 

<p>Kind regards,<br/></p> 

<p>Your CIISB team</p> 
    