<p>Dear {{Project.Applicant.Fullname}},</p> 

<p>we are sorry to inform you that the extension of your project <i>{{Project.Title}}</i> was rejected by the service provider. 
    Please see the attachment for more information.</p>

<p>If you are interested in utilization of the CIISB research infractructure service, please submit a new project proposal here: {{link NewProposalLink}}</p>

<p>Kind regards,<br/></p> 

<p>Your CIISB team</p> 
    