<p>Dear facility head,</p> 

<p>the user {{Project.Applicant.Fullname}} requests extension of the project {{Project.Title}}. 
    Please use the link below to access the project management database in order to assess the validity of the request.</p>

<p>Fill in the technical feasibility form to confirm or reject the project extension.</p>

<p>Request justification:</p>
<pre>{{Project.ExtensionProposal.Justification}}</pre>

<p>{{link ProjectLink}}</p>
    