Subject: New project proposal

<p>Dear user,</p>

<p>at the following link, you will find your new project proposal form. Please fill in and submit the form.</p>

<p>{{link ProposalLink}}</p>

<p>###### This email is generated automatically, please do not reply to the email</p>