<p>Dear {{Project.Applicant.Fullname}},</p>

<p>thank you for acknowledging the service provided by {{list Project.OrganizationsAbbreviations}} in your publication. If additional publications are obtained as a result of the provided service, please send us its DOI in response to this email (just DOI of the publication(s) in the body of the email is sufficient, no additional text is required).</p>

<p>The project {{Project.Id}} is now terminated. No additional notifications will be sent.</p> 

<br/>

<p>Kind regards,</p>
<p>CIISB team</p>
