<p>Dear {{Project.Applicant.Fullname}},</p>

<p>you have recently utilized services of the CIISB core facility/ies {{list Project.OrganizationsAbbreviations}}. 
    We want to kindly ask you to send us DOI(s) of the publication(s) which resulted from this service <b>in response to 
    this email</b> once such publications are available (<b>just DOI of the publication(s) in the body of the email is sufficient</b>, no additional text is required).</p>

<p>When publishing data which resulted from this service, use the following acknowledgement in your publication(s).</p>

<p><i>We acknowledge CF {{list Project.OrganizationsAbbreviations}} of CIISB, Instruct-CZ Centre, supported by MEYS CR (LM2018127) ) and European Regional Development Fund-Project „UP CIISB“ (No. CZ.02.1.01/0.0/0.0/18_046/0015974).</i></p>

<p>Kind regards,<br/></p>

<p>CIISB team</p>

