{{!S: Service finished}}

<p>Dear {{Project.Applicant.Fullname}},</p>

<p>the service provided by {{Organization.Abbreviation}} within your project {{Project.Title}} has been finished and you will 
    receive an official invoice issued to the invoicing address stated in your project proposal. 
    Thank you for using CIISB. Please use the following acknowledgement in your publication(s) when publishing the data obtained within this project. 
    In addition, we want to kindly ask you to send us DOI of the publication(s) resulting from this service in response
    to this email (just DOI of the publication(s) in the body of the email is sufficient, no additional text is required).</p>

<p><i>We acknowledge CF {{list Project.OrganizationsAbbreviations}} of CIISB, Instruct-CZ Centre, supported by MEYS CR (LM2018127) ) and
    European Regional Development Fund-Project „UP CIISB“ (No. CZ.02.1.01/0.0/0.0/18_046/0015974).</i></p>

<p>Kind regards,<br/></p>

<p>CIISB team</p>

