{{!S: Service close to termination}}


<p>Dear {{Project.Applicant.Fullname}},</p> 

<p>the validity of your project <b>{{Project.Title}}</b> will elapse in less than one month - <b>{{date_standard Project.DtExpiration}}</b>. 
    No action is necessary if all the service have been provided.</p>

<p>Please fill the form at the link below, if achieving the project goals requires extension of the project proposal.</p>

<p>{{link ExtensionLink}}</p>

<p>Thank you for using CIISB.</p>

<p>Kind regards,<br/></p> 

<p>Your CIISB team</p> 
