@* Navigation link that bypasses routing and works as simple a tag *@
@inject NavigationManager NavigationManager

<a @attributes="@AdditionalAttributes" @onclick="@LinkClick" @onclick:preventDefault="@true">
    @ChildContent
</a>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object?>? AdditionalAttributes { get; set; }
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private void LinkClick()
    {
        var href = (string?)AdditionalAttributes?.GetValueOrDefault("href");
        if (href is not null)
        {
            NavigationManager.NavigateTo(href, forceLoad:true);
        }
    }
}