# Target file /etc/systemd/system/projman.service
# Copy command sudo cp projman.stigmator.service /etc/systemd/system/projman.service
[Unit]
Description=Projman dotnet Kestrel service

[Service]
WorkingDirectory=/home/radek123/projman/Projman/bin/Release/net6.0/publish/
ExecStart=/usr/bin/dotnet /home/radek123/projman/Projman/bin/Release/net6.0/publish/projman.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=projman-kestrel
User=radek123
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target