.remote-admin-container {
    display: flex;
    flex-wrap: wrap;
}

.instrument-container {
    width: 40rem;
    margin: 0.5rem;
    /*border-radius: 3px;*/
    
    & .subj-header {
        font-weight: bold;
        text-align: center;
        padding: 0.5rem;
    }
    
    & ::deep .instrument-body .connection-items-container {
        padding: 0.5rem;
        
        & .connection-item {
            
            & .connection-item-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            & .connection-item-sessions .subj-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0.4rem 1rem;
                color: rgba(0, 0, 0, 0.6);
                font-size: 85%;
            }
        }
    }
}