/*.bt-basic, button {*/
/*    box-shadow: inset 0 1px 0 0 #54a3f7;*/
/*    background: #007dc1 linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);*/
/*    border-radius:2px;*/
/*    border:1px solid #124d77;*/
/*    display:inline-block;*/
/*    cursor:pointer;*/
/*    color:#ffffff;*/
/*    font-family: Arial, sans-serif;*/
/*    font-size: 90%;*/
/*    padding: 0.3rem 1.1rem;*/
/*    text-decoration:none;*/
/*    text-shadow:0 1px 0 #154682;*/
/*}*/

/*.bt-basic:hover, button:hover {*/
/*    background: #0061a7 linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);*/
/*}*/

/*.bt-basic:active, button:active {*/
/*    position:relative;*/
/*    top:1px;*/
/*}*/

.bt-transparent {
    display:inline-block;
    background-color: transparent;
    padding: 0.3rem 1.1rem;
    border: none;
    text-decoration:none;
    font-size: 100%;
}

.bt-transparent:hover, .bt-transparent.active {
    font-weight: bold;
}

/*.bt-danger {*/
/*    background: #d0451b linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);*/
/*}*/

/*.bt-danger:hover {*/
/*    background: #bc3315 linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);*/
/*}*/

/*.bt-success {*/
/*    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);*/
/*}*/

/*.bt-success:hover {*/
/*    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);*/
/*}*/

.bt-icon {
    padding: 0.3rem;
    margin-right: 0; 
}
 

.button-row-right {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0.3rem;
}

.button-row-right > * {
    margin-left: 0.3rem;
}

.bt-group {
    display: flex;
    align-items: center;
}

.bt-group > * { 
    margin-right: 0.8rem;
}

.link-group {
    display: flex;
    align-items: center;
    
    & .bt-link {
        border: none;
        margin: 0;
        display: block;
        color: var(--bs-primary);
        padding: 0.3rem 0.6rem;
        border-right: 1px solid rgba(0,0,0,.3);
        border-radius: 0;
        background-color: transparent;
        text-decoration: underline;
    }
    
    & .bt-link:hover {
        cursor: pointer;
        text-decoration: none;
    }
    
    & > .bt-link:last-child {
        border-right: none;
    }
    
    & > .tt-container:last-child > .bt-link {
        border-right: none;
    }
}

/* button {
    background-color: var(--bs-secondary);
    margin-right: 0.5rem;
    padding: 0.2rem 1.1rem;
    border-radius: 3px;
    color: white;
    border: 1px solid black;
}

button:hover {
    background-color: var(--bs-gray-800);
} */

.bt-icon {
    padding: 0.3rem;
    color: var(--bs-gray-600);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bt-icon:hover {
    color: black;
    background-color: var(--bs-gray-600);
}