.top-row {
    background-color: var(--bs-light);
    border: 1px solid #d6d5d5;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem 0;
    align-items: center;
    /*position: sticky;*/
    /*top: 0;*/
}

.ciisb-panel-logo-small {
    width: 125px;
    margin: 10px;
}

.proposal-heading {
    font-size: 140%;
    color: #AD292F;
    margin-left: 20px;
}

.proposal-duration-notice {
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
}

.general-part {
    display: flex;
    flex-wrap: wrap;
}

/*.facility-part {*/
/*    border-left: 1px solid gray;*/
/*}*/

.form-footer {
    border-top: 1px solid black;
    margin-top: 2rem;
    padding: 2rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row-reverse;
}


.ccreate-proposal {
    
}

.ccreate-proposal .clabel-container {
    flex: 0 0 25%;
}