@page "/proposal_submitted"
@layout NoLayout 

<div class="container mt-2">
    
    <div class="alert alert-success text-center">
        
        Your proposal has been submitted successfully. Thank you for using our services. We will contact you at the given 
        email address with further information regarding your new project. Please check your inbox and make sure our 
        emails are not marked as spam/junk by your email provider. You can now close the page.
        
    </div>
    
</div>
