<p>Dear {{User.Fullname}},</p>

<p>
    You have been invited to login into {{SystemName}}. Please follow the link below and sign in using external identity provider of your choice. This process will link your 
    external login with your internal account in the system. 
</p>

<p>
    {{link ActivationUrl}}
</p>

<p>##### This email was generated automatically, please do not respond to this email.</p>