@page "/migr"

@inject CiisbMigratorService Migrator
@inject IOptionsMonitor<CiisbMigratorOptions> Options

<input type="text" @bind="Id" />
<button @onclick="MigrateOne">One</button>
<button @onclick="MigrateAll">All</button>

<br/>

<input type="text" @bind="_idUser" />
<button @onclick="MigrateOneUser">One</button>
<button @onclick="MigrateUsers">Users</button>
@* *@
@* <object style="width: 60rem"  *@
@*         data="/files/08da310e-75ce-471c-885a-2ff926749bc8"> *@
@*     <div class="text-danger">Nefunguje ti to</div> *@
@* </object> *@


@code {
    // Launch back to: "launchUrl": "https://localhost:7096/proposal/08da239e-ee82-43dc-8ab6-ff5a5bd47c99/submit"
    public string Id;


    private async Task MigrateAll()
    {
        await Migrator.MigrateProjects(Options.CurrentValue);
    }

    private async Task MigrateOne()
    {
        await Migrator.MigrateProject(Options.CurrentValue, Id);   
    }

    private async Task MigrateUsers()
    {
        await Migrator.MigrateUsers(Options.CurrentValue.Constring);
    }

    private string? _idUser;

    private async Task MigrateOneUser()
    {
        await Migrator.MigrateUser(Options.CurrentValue.Constring, _idUser!);
    }

}