Subject: Project revision

<p>Dear {{Project.PeerReviewProposal.ExpectedEvaluator.Fullname}},</p>

<p>we would like to kindly ask you to revise the project entitled <b>{{Project.Title}}</b> submitted to CIISB infrastructure by
    {{Project.Applicant.Fullname}}. Please use the link below to view the proposal and assess it.
</p>

<p>{{link PeerReviewUrl}}</p>

<p>King regards, <br/> Your CIISB team</p>
