{{!S: New project proposal }}

<p>You have been made responsible for resolving a new issue: </p>

<p>
    <b>{{issue.Subject}}</b> <br/>
    {{issue.Description}}
</p>
    
<p>See the issue at {{link_builder Organization.LinkId "issues" Id}}</p>

<p>###### This email is generated automatically, please do not reply to the email</p>